<div class="col">
    <label class="col-lg-4 col-form-label fw-semibold fs-6">{{ form_label(label) }}</label>
    <div class="col-lg-8">
        <div class="col p-3 position-relative">
            <div class="image-card text-white">
                <img src="{{ uploaderHelper }}" class="rounded defaut-img" alt="" id="{{ baliseImg }}"/>
                <p class="titre-image"></p>
            </div>
            <div class="position-absolute top-0 start-1 mt-3 me-3">
                <label class="btn btn-outline-light" id="{{ editButtonId }}">
                    {% include '_include/_components/_icons/_edit_image_icon_svg.html.twig' %}
                    {{ form_widget(inputFile, { 'attr': {'class': 'custom-file-input'} }) }}
                </label>
                <button type="button" class="btn btn-outline-light" id="{{ removeButtonId }}">
                    {% include '_include/_components/_icons/_delete_image_con_svg.html.twig' %}
                </button>
            </div>
        </div>
        {{ form_widget(removeFile) }}
        {{ form_errors(form.avatar) }}
    </div>
</div>