{% extends 'base.html.twig' %}

{% block body %}

    <div class="row mt-5 mb-5 justify-content-center">
        <div class="col-lg-8">
            <div class="d-flex justify-content-center">
                <div style="width: 100%;">
                    {% if mode == 'Ajouter' %}
                    <h1 class=" mb-4">{{mode}}</h1>
                        {{ include('admin/user/form/_form.html.twig', {'mode': mode}) }}
                    {% else %} 
                        <div class="d-flex mb-4">
                            <h1 class="me-4">{{mode}}</h1>
                            <a type='button' class="text-danger pt-2" data-token="{{ csrf_token }}" data-bs-toggle="modal" data-bs-target="#deleteModal{{ user.id }}" title="Supprimer">
                             {% include "_include/_components/_icons/_delete_icon_svg.html.twig" %}
                            </a>
                        </div>  
                        {{ include('admin/user/form/_form.html.twig', {'delete_btn': true, 'uploaderHelper': uploaderHelper, 'mode': mode }) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if delete_btn is defined %}
        {% include '/admin/user/_delete_modal.html.twig' with {'path_form' : path('app_admin_user_delete', {'id': user.id}), 'csrf_token': csrf_token, 'user': user } %}
    {% endif %}

{% endblock %}


{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/image/image-management.js') }}" ></script>
<script src="{{ asset('js/password/toggle-password-fields.js') }}" ></script>
<script> 
    const userId = {{ user.id ? user.id|json_encode() : 'null'}}
    const btnTrash = document.getElementById('remove-avatar-button');
    const btnEdit = document.getElementById('edit-avatar-button');

    if(userId === null) {
        btnDnone(btnTrash)
        newImage(btnEdit) 
    } else {
        const userAvatar =  {{ user.avatar ? user.avatar|json_encode() : 'null'}}

        if(userAvatar != null) {
            btnDnone(btnEdit)  
        } else{
            btnDnone(btnTrash)  
        }

        {% if user.id is not null %}
            const path = "{{ asset('images/default/default.png') }}";
            const existingImg = document.getElementById('{{ form.avatar.removeUserAvatarFile.vars.id }}').value = 1;
            const url = "{{ path('app_admin_user_remove_avatar', { 'user': user.id }) }}";
            removeExistingImage(btnTrash, userId, url, path, btnEdit, existingImg)
        {% endif %}

        newImage(btnEdit);
    } 
</script>

{% endblock %}