{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mt-5 mb-5 justify-content-center">
        <div class="col-lg-8">
            <div class="d-flex justify-content-center">
                <div style="width: 100%;">
                    {% if mode == 'Ajouter' %}
                    <h1 class=" mb-4">{{mode}}</h1>
                        {{ include('admin/user/form/_form.html.twig') }}
                    {% else %} 
                        <div class="d-flex mb-4">
                            <h1 class="me-4">{{mode}}</h1>
                            <a type='button' class="text-danger pt-2" data-token="{{ csrf_token }}" data-bs-toggle="modal" data-bs-target="#deleteModal{{ user.id }}" title="Supprimer">
                             {% include "_include/_components/_icons/_delete_icon_svg.html.twig" %}
                            </a>
                        </div>  
                        {{ include('admin/user/form/_form.html.twig', {'delete_btn': true, 'uploaderHelper': uploaderHelper }) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if delete_btn is defined %}
        {% include '/admin/user/_delete_modal.html.twig' with {'path_form' : path('app_admin_user_delete', {'id': user.id}), 'csrf_token': csrf_token, 'user': user } %}
    {% endif %}

{% endblock %}


{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/image/image-management.js') }}" ></script>

{% if user.id is null %}
     <script> 
        const btnTrashToHide = document.getElementById('remove-avatar-button');
        btnDnone(btnTrashToHide)
        const newAvatar = document.getElementById('edit-avatar-button');
        newImage(newAvatar)   
     </script>
{% endif %}

{% if user.id is not null %}
    <script>
        let btnEditToHide = document.getElementById('edit-avatar-button');
        let btnTrashToHide = document.getElementById('remove-avatar-button');
    
        const userAvatar =  {{ user.avatar ? user.avatar|json_encode() : 'null'}}

        if(userAvatar != null) {
            btnDnone(btnEditToHide)  
        } else{
            btnDnone(btnTrashToHide)  
        }
        
        const removeButton = document.getElementById('remove-avatar-button');
        const userId = {{ user.id }}; 
        const url = `{{ path('app_admin_user_remove_avatar', { 'user': user.id }) }}`; 
        const path = "{{ asset('images/default/default.png') }}";

        
        removeButton.addEventListener("click", function() {

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest'
                },
                body: JSON.stringify({ userId: userId })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    document.querySelector('.image-card img').src = path
                    document.getElementById('{{ form.avatar.removeUserAvatarFile.vars.id }}').value = 1;
                    btnEditToHide.classList.remove('d-none');
                    btnTrashToHide.classList.add('d-none');
                } else {
                    
                    alert(data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while trying to remove the avatar.');
            });
        });

        const newAvatar = document.getElementById('edit-avatar-button');
        newImage(newAvatar)
      
    </script>
{% endif %}

{% endblock %}