{% extends 'base.html.twig' %}
{% block body %}
<div class='row mt-5 mb-5'>
    <div class='col-sm-12'> 
        <div class= "col-sm-12 d-flex justify-content-between mb-5">
            <h1>Liste des Utilisateurs</h1>
            <a type="button" class='btn btn-primary pb-0 mb-3' href="{{ path('app_admin_user_new') }}" title="Ajouter un user">Ajouter un utilisateur</a>
        </div>
        <table class="table custom-table">
            <thead>
                <tr>
                    <th class="text-start">email</th>
                    <th class="text-center">roles</th>
                    <th class="text-center">firstName</th>
                    <th class="text-center">lastName</th>
                    <th class="text-end">actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td class="text-start">{{ user.email }}</td>
                    {% for role in user.roles %}
                        {% if role == 'ROLE_ADMIN' or role == 'ROLE_VETERINARY' or role == 'ROLE_WORKER'  %}
                            {% set roleName = allRoles[role] %}
                            <td class="text-center">{{ roleName }}</td>
                        {% endif %}
                    {% endfor %}
                    <td class="text-center">{{ user.firstName }}</td>
                    <td class="text-center">{{ user.lastName }}</td>
                    <td class="text-end">
                        <a type='button' class='text-primary me-2' href="{{ path('app_admin_user_show', {'id': user.id}) }}" title="voir">
                            {% include "_include/_components/_icons/_show_icon_svg.html.twig" %}
                        </a>
                        <a type='button' class='text-secondary me-2' href="{{ path('app_admin_user_edit', {'id': user.id}) }}" title="editer">
                            {% include "_include/_components/_icons/_edit_icon_svg.html.twig" %}
                        </a>
                        <a type='button' class="text-danger me-3 mb-2" data-token="{{ csrf_Tokens[user.id] }}" data-bs-toggle="modal" data-bs-target="#deleteModal" title="Supprimer">
                             {% include "_include/_components/_icons/_delete_icon_svg.html.twig" %}
                        </a>
                    </td>
                </tr>

                {% if delete_btn is defined %}
                    {% include '/admin/user/_delete_modal.html.twig' with {'path_form' : path('app_admin_user_delete', {'id': user.id}), 'csrf_tokens': csrf_Tokens[user.id], 'user': user } %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div> 
</div>
{% endblock %}
