{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

<div class="container mt-5 custom-border" style="width: 70%;">
    <div class="row m-4 card">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="card-body d-flex mb-2">
                <div class="ms-auto">
                    <a type='button' class="text-danger mb-2" data-bs-toggle="modal" data-bs-target="#deleteModal{{ user.id }}" title="Supprimer">
                        {% include "_include/_components/_icons/_delete_icon_svg.html.twig" %}
                    </a>
                </div>
            </div>
        </div>
      <div class="d-flex mb-3">
    <div class="me-3">
        <img src="{{ user.avatar ? uploaderHelper.asset(user.avatar, 'userAvatarFile') : asset('images/default/default.png') }}" class="rounded-circle" alt="User-Image" style="width: 75px; height: 75px;">
    </div>
    <div class="flex-grow-1">
        <div class="row g-2">
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <h6 class="mb-0 me-2">Nom :</h6>
                    <span>{{ user.lastName }}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <h6 class="mb-0 me-2">Role :</h6>
                    <span>
                    {% for role in user.roles %}
                        {% if role == 'ROLE_ADMIN' %}
                            {{ allRoles[role] }}
                        {% endif %}
                    {% endfor %}
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <h6 class="mb-0 me-2">Prénom :</h6>
                    <span>{{ user.firstName }}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <h6 class="mb-0 me-2">Email :</h6>
                    <span>{{ user.email }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>    
</div>

    {% if delete_btn is defined %}
        {% include '/admin/user/_delete_modal.html.twig' with {'path_form' : path('app_admin_user_delete', {'id': user.id}), 'csrf_token': csrf_token, 'user': user } %}
    {% endif %}

{% endblock %}
