 
 <footer class="bg-dark footer-front p-4">
      <!-- footer -->
      <div class="container p-1 mt-5 mb-5">
          <div class="row text-start">
              <div class="col-12 col-md-3 d-flex justify-content-md-center align-items-center justify-content-start mb-4 mb-md-0 custom-col-margin overflow-hidden">
                  <img class="logo-arcadia-footer" src="{{asset('images/ARCADIA.png')}}"  alt="log-parc-animalier-arcadia">
              </div>
              <div class="col-12 col-md-3 mb-4 mb-md-0 custom-col-width">
                  <h3 class="text-primary">Navigation</h3>
                  <ul class="list-unstyled">
                      <li class="nav-item mb-2">
                          <a class="nav-link " href="/">Accueil</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            habitats
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            {% for habitat in habitats %}
                                <li><a class="dropdown-item" href="{{path('app_habitat_show', {'id': habitat.id})}}">{{ habitat.name }} </a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            Enclos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            {% for enclosure in enclosures %}
                                <li><a class="dropdown-item" href="{{path('app_enclosure_show', {'id': enclosure.id})}}">{{ enclosure.name }} </a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_service_show')}}" role="button" aria-expanded="false">
                            Services
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_gallery')}}" role="button" aria-expanded="false">
                            Gallerie
                        </a>
                    </li>
                      <li class="nav-item mb-2" data-show="connected">
                          <a class="nav-link" href="/contact">Nous contacter</a>
                      </li>
                  </ul>
              </div>
              <div class="col-12 col-md-3 mb-4 mb-md-0">
                  <h3 class="text-primary">Horaire d’ouverture</h3>
                  <p class="text-white">Ouvert tous les jours, toute l’année</p>
                  <p class="text-white">De 8h30 à 19h30</p>
              </div>
              <div class="col-12 col-md-3">
                  <h3 class="text-primary">Suivez nous</h3>
                  <ul class="list-inline d-flex mb-3">
                      <li>
                          <img class="icons" src="{{asset('images/icons-facebook.png')}}"  alt="icons-facebook">
                      </li>
                      <li>
                          <img class="icons" src="{{asset('images/icons-instagram.png')}}"  alt="icons-instagram">
                      </li>
                      <li>
                          <img class="icons" src="{{asset('images/icons-youtube.png')}}"  alt="icons-youtube">
                      </li>
                      <li>
                          <img class="icons" src="{{asset('images/icons-tiktok.png')}}"  alt="icons-tiktok">
                      </li>
                  </ul>
                  <h3 class="text-primary">Accessibilité</h3>
                  <ul class="list-inline d-flex ">
                      <li>
                          <img class="icons" src="{{asset('images/icons-assistive-technology.png')}}"  alt="icons-assistive-technology">
                      </li>
                      <li>
                        <img class="icons" src="{{asset('images/icons-blind-dog.png')}}"  alt="icons-chien-d-aveugle">
                      </li>
                      <li>
                          <img class="icons" src="{{asset('images/icons-assistive-auditory.png')}}"  alt="icons-assistive-auditory">
                      </li>
                  </ul>
              </div>
          </div>
  
          <div class="row text-center mt-5">
              <div class="col-12">
                  <p class="text-white">Parc Animalier : Arcadia - chemin du Hameau du lac 35380 Brocéliande – France – 04 68 50 18 18</p>
              </div>
              <div class="col-12">
                  <p class="text-white ">©2024 Parc Amimalier Arcadia Tous droits réservés</p>
              </div>
              <div class="col-12">
                <a href="{{ path('legal_mentions') }}">Mentions légales</a>
              </div>
          </div>
      </div>
      <!--end::Footer container-->
  </footer>