{% extends 'base_front.html.twig' %}

{% block title %}Galerie des {{ currentType }}{% endblock %}

{% block body %}
<div class="bg-info">
    <div class="container p-4">
        <div class="row">
            <div class="dropdown mt-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Choisir la galerie
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item {% if currentType == 'habitats' %}active{% endif %}" href="{{ path('app_gallery', {'type': 'habitats'}) }}">Galerie des habitats</a></li>
                    <li><a class="dropdown-item {% if currentType == 'enclosures' %}active{% endif %}" href="{{ path('app_gallery', {'type': 'enclosures'}) }}">Galerie des enclos</a></li>
                    <li><a class="dropdown-item {% if currentType == 'animals' %}active{% endif %}" href="{{ path('app_gallery', {'type': 'animals'}) }}">Galerie des animaux</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="mt-3 mb-3">Galerie des 
                    {% set frenchType = {
                        'habitats': 'habitats',
                        'enclosures': 'enclos',
                        'animals': 'animaux'
                    } %}
                    {{ frenchType[currentType] }}
                </h1>
                {% for item in gallery %}
                    <div class="card mb-4 custom-border">
                        <div class="card-header">
                            <h5 class="card-title">{{ item.name }}</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                {% for image in item.images %}
                                    <div class="col-md-4 mb-3">
                                        <img src="{{ asset('uploads/images/' ~ currentType ~ '/' ~ image.name) }}" 
                                             alt="{{ 'Image de ' ~ item.name }}"
                                             class="img-fluid">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>  
{% endblock %}
