{% extends 'base.html.twig' %}
{% block body %}
<div class='row mt-5 mb-5'>
    <div class='col-sm-12'> 
        <div class= "col-sm-12 d-flex justify-content-between mb-5">
            <h1>Liste des VeterinaryReports</h1>
            <a type="button" class='btn btn-primary pb-0 mb-3' href="{{ path('app_admin_veterinaryreport_new') }}" title="Ajouter un veterinaryreport">Ajouter un veterinaryreport</a>
        </div>
        <table class="table custom-table">
            <thead>
                <tr>
                                    <th class="text-center">user</th>
                <th class="text-center">animal</th>
                <th class="text-center">detail</th>
                <th class="text-center">createdAt</th>
                <th class="text-center">updatedAt</th>
                <th class="text-center">deletedAt</th>
                </tr>
            </thead>
            <tbody>
            {% for veterinaryreport in veterinaryreports %}
                <tr>
                                    <td class="text-center">{{ veterinaryreport.user }}</td>
                {# <td class="text-center">{{ veterinaryreport.animal }}</td> #}
                <td class="text-center">{{ veterinaryreport.detail }}</td>
                {# <td class="text-center">{{ veterinaryreport.createdAt }}</td>
                <td class="text-center">{{ veterinaryreport.updatedAt }}</td> #}
                    <td class="text-end">
                        <a type='button' class='text-primary me-2' href="{{ path('app_admin_veterinaryreport_show', {'id': veterinaryreport.id}) }}" title="voir">
                            {% include "_include/_components/_icons/_show_icon_svg.html.twig" %}
                        </a>
                        <a type='button' class='text-secondary me-2' href="{{ path('app_admin_veterinaryreport_edit', {'id': veterinaryreport.id}) }}" title="éditer">
                            {% include "_include/_components/_icons/_edit_icon_svg.html.twig" %}
                        </a>
                        <a type='button' class="text-danger me-3 mb-2"  data-token="{{ csrf_tokens[veterinaryreport.id] }}" data-bs-toggle="modal" data-bs-target="#deleteModal{{ veterinaryreport.id }}" title="Supprimer">
                             {% include "_include/_components/_icons/_delete_icon_svg.html.twig" %}
                        </a>
                    </td>
                </tr>

                {% if delete_btn is defined %}
                    {# {% include '/admin/veterinaryreport/_delete_modal.html.twig' with {'path_form' : path('app_admin_veterinaryreport_delete', {'id': veterinaryreport.id}), 'csrf_tokens': csrf_tokens[veterinaryreport.id], 'veterinaryreport': veterinaryreport } %} #}
                {% endif %}

            {% endfor %}
            </tbody>
        </table>
    </div> 
</div>
{% endblock %}
