<li class="nav-item">
    <a class="nav-link active" href="{{path('app_admin_dashboard')}}">
        <span class="icon">{% include "_include/_components/_icons/_home_icon_svg.html.twig" %}</span>
        <span class="text">Accueil</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{path('app_admin_user_index')}}">
        <span class="icon"> {% include "_include/_components/_icons/_user_icon_svg.html.twig" %}</span>
        <span class="text">Utilisateurs</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{path('app_admin_habitat_index')}}">
        <span class="icon">{% include "_include/_components/_icons/_habitat_icon_svg.html.twig" %}</span>
        <span class="text">Habitats</span>
    </a>
</li>
{% if habitats is defined and habitats|length > 0 %}
<li class="nav-item">
    <a class="nav-link active" href="{{path('app_admin_animal_index')}}">
        <span class="icon"> {% include "_include/_components/_icons/_animal_icon_svg.html.twig" %}</span>
        <span class="text">Animaux</span>
    </a>
</li>
{% endif %}

{% if navType is defined and navType == "sidebar" %}
{% include "_include/navbar/_components/_pending_notice_sidebar.html.twig" %}
    {% else %}
{% include "_include/navbar/_components/_pending_notice_navbar.html.twig" %}    
{% endif %}

<li class="nav-item">
    <a class="nav-link active" href="{{path('app_admin_service_index')}}">
        <span class="icon"> {% include "_include/_components/_icons/_service_icon_svg.html.twig" %}</span>
        <span class="text">Services</span>
    </a>
</li>