<div class='row mt-5 mb-5'>
    <div class='col-sm-12 p-4 custom-border card'> 
        <div class= "col-sm-12 d-flex justify-content-between mb-5">
            <h1>Liste des Avis</h1>
            {# <a type="button" class='btn btn-primary pb-0 mb-3' href="{{ path('app_admin_notice_new') }}" title="Ajouter un notice">Ajouter un Avis</a> #}
        </div>
        <table class="table custom-table">
            <thead>
                <tr>
                    <th class="text-start">Avatar</th>
                    <th class="text-center">Pseudo</th>
                    <th class="text-center">Commentaire</th>
                    <th class="text-center">Statut</th>
                    <th class="text-end">Actions</th>
                </tr>
            </thead>
            <tbody>
        {% if notices|length > 0 %}
            {% for notice in notices %}    
                <tr>
                    <td class="text-start">
                        <img class="rounded-circle" src="{% if notice.user is not null and notice.user.avatar is defined and notice.user.avatar is not empty %}
                            {{ uploaderHelper.asset(notice.user.avatar, 'userAvatarFile') }}
                        {% else %}
                            {{ asset('images/default/default-avatar.jpg') }}
                        {% endif %}" alt="Avatar de l'utilisateur" width="50" height="50">
                    </td>
                    <td class="text-center">{{ notice.nickname }}</td>
                    <td class="text-center">{{ notice.comment }}</td>
                    {% if arrayStatut[notice.status] is defined %}
                        <td class="text-center badge rounded-pill {% if arrayStatut[notice.status] == 'En attente' %}status-pending{% elseif arrayStatut[notice.status] == 'Refusé' %}status-refused{% elseif arrayStatut[notice.status] == 'Validé' %}status-valid{% endif %}"> {{ arrayStatut[notice.status] }}</td>
                    {% endif %}    
                    <td class="text-end">
                        <a type='button' class='text-primary me-2' href="{{ path('app_admin_notice_show', {'id': notice.id}) }}" title="voir">
                            {% include "_include/_components/_icons/_show_icon_svg.html.twig" %}
                        </a>
                        <a type='button' class="text-danger me-3 mb-2"  data-token="{{ csrf_tokens[notice.id] }}" data-bs-toggle="modal" data-bs-target="#deleteModal{{ notice.id }}" title="Supprimer">
                             {% include "_include/_components/_icons/_delete_icon_svg.html.twig" %}
                        </a>
                    </td>
                </tr>

                {% if delete_btn is defined %}
                    {% include '/admin/notice/_delete_modal.html.twig' with {'path_form' : path('app_admin_notice_delete', {'id': notice.id}), 'csrf_tokens': csrf_tokens[notice.id], 'notice': notice } %}
                {% endif %}
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">Aucun avis à afficher sur cette page.</td>
            </tr>
        {% endif %}
            </tbody>
        </table>
    </div> 
</div>


{# Pagination #}
{% if totalPages > 1 %}
    <nav class="mt-4" aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% for i in 1..totalPages %}
                <li class="page-item {{ currentPage == i ? 'active' : '' }}">
                    <a class="page-link" href="{{ path('app_admin_notice_index', {'page': i}) }}">{{ i }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}