{% set uploaderHelper = user.avatar ? uploaderHelper.asset(user.avatar, 'userAvatarFile') : asset('images/default/default.png')%}

{% if user is not null and user.avatar is not null %}
    {% set imgId = user.avatar.id %}
{% else %}
    {% set imgId = null %}
{% endif %}

<div>
{{ form_start(form) }}
    <div id="user-data" 
     data-user-id="{{ user.id|default('') }}"
     data-remove-avatar-url="{{ path('app_admin_user_remove_avatar', { 'user': 'USER_ID' }) }}">
         {% include '_include/_components/_forms/_image-upload-input.html.twig' with {
            input: form.avatar,
            inputFile: form.avatar.userAvatarFile,
            removeFile: form.avatar.removeUserAvatarFile,
            label: form.avatar,
            uploaderHelper : uploaderHelper,
            imgId : imgId,
        } %}

        {{ form_row(form.lastname) }}
        {{ form_row(form.firstname) }}
        
        {% if form.roles is defined %}
            {{ form_row(form.roles) }}
        {% endif %}

        {{ form_row(form.email) }}
        {{ form_row(form.address) }}
        {{ form_row(form.phone) }}
        
        {% if mode == 'Ajouter' %}
            {{ form_row(form.plainpassword.password) }}
        {% elseif mode == 'Modifier'  %}
            <button id="changePasswordBtn" type="button" class="btn btn-secondary mt-4" onclick="togglePasswordFields()">Modifier le mot de passe</button>
            <div id="passwordFields" style="display: none;">
               {{ form_row(form.plainpassword.password) }}
            </div>  
        {% endif %}
    </div>

    <div class="mt-4 d-flex justify-content-between">
        <a type="button" class="btn btn-gradiant me-3 mb-2" title="Revenir à la liste" href="{{ path('app_admin_user_index') }}">Revenir à la liste</a>
        <div class="row mb-6">
            <button class="btn btn-primary" title="Valider">Valider</button>
        </div>
    </div>
{{ form_end(form) }}
</div>

<div class="col-12 pt-2">
    {% if delete_btn is defined %}
        {% include '/admin/user/_delete_modal.html.twig' with {'path_form' : path('app_admin_user_delete', {'id': user.id}), 'csrf_token': csrf_token, 'user': user } %}
    {% endif %}
</div>
