
<div>
{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
    <div>
    {% include '_include/_components/_forms/_image-upload-input.html.twig' with {
        input: form.avatar,
        inputFile: form.avatar.userAvatarFile,
       
    } %}

    {{form_row(form.firstname)}}
    {{form_row(form.lastname)}}
    {{form_row(form.roles)}}
    {{form_row(form.email)}}
    {{form_row(form.address)}}
    {{form_row(form.phone)}}
    {{form_row(form.password)}}
    </div>

    <div class="mt-4 d-flex justify-content-between">
        <a type='button' class="btn btn-gradiant me-3 mb-2" title="revenir à la liste" href="{{ path('app_admin_habitat_index') }}">Revenir à la liste</a>
        <div class="row mb-6">
        {% if mode == 'Ajouter' %} 
            <button class="btn btn-primary" title="Valider">Valider</button>
        {% elseif mode == "Modifier" %}
            <button class="btn btn-primary" title="Valider">Valider</button>
        {% else %}
            <div class = "d-flex">
                <button class="btn btn-secondary" href="{{ path('app_admin_user_index') }}" title="valider">Valider</button>
                <button type='button' class="btn btn-danger me-3 mb-2"  data-bs-toggle="modal" data-bs-target="#deleteModal" title="supprimer">
                    supprimer
                </button>
            </div>
        {% endif %}  
    </div>
{{ form_end(form, {'render_rest': false}) }}
</div>

<div class="col-12 pt-2">
    {% if delete_btn is defined %}
        {% include 'admin/user/_delete_modal.html.twig' with {'path_form' : path('app_admin_user_delete', {'id': user.id}), 'id_token' : user.id } %}
    {% endif %}
</div>
