
<nav class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item d-flex justify-content-end">
            <button id="toggle-btn" class="nav-link toggle-btn text-end">
                <span class="icon">
                {% include "_include/_components/_icons/_collapse_icon_svg.html.twig" %}
                </span>
            </button>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{path('app_admin_notice_index')}}">
                <span class="icon">{% include "_include/_components/_icons/_home_icon_svg.html.twig" %}</span>
                <span class="text">Accueil</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{path('app_admin_user_index')}}">
                <span class="icon"> {% include "_include/_components/_icons/_user_icon_svg.html.twig" %}</span>
                <span class="text">Utilisateur</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{path('app_admin_habitat_index')}}">
                <span class="icon">{% include "_include/_components/_icons/_habitat_icon_svg.html.twig" %}</span>
                <span class="text">Habitats</span>
            </a>
        </li>
        {% if habitats is defined and habitats|length > 0 %}
            <a class="nav-link active" href="{{path('app_admin_animal_index')}}">
                <span class="icon"> {% include "_include/_components/_icons/_animal_icon_svg.html.twig" %}</span>
                <span class="text">Animaux</span>
            </a>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link active position-relative" href="{{path('app_admin_notice_index')}}">
                <span class="icon">{% include "_include/_components/_icons/_notice_icon_svg.html.twig" %}</span>
                <span class="text">Avis</span>
                {% if pending_notices_count > 0 %}
                     <span class="badge rounded-pill bg-danger ms-auto">
                        {{ pending_notices_count }}
                        <span class="visually-hidden">Avis en attente</span>
                    </span>
                {% endif %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{path('app_admin_service_index')}}">
                <span class="icon"> {% include "_include/_components/_icons/_service_icon_svg.html.twig" %}</span>
                <span class="text">Services</span>
            </a>
        </li>
    </ul>
</nav>

{% block javascripts %}
<script>
    const toggleBtn = document.getElementById('toggle-btn');
    const sidebar = document.querySelector('.sidebar');

    toggleBtn.addEventListener('click', function(e) {
        e.preventDefault();
        sidebar.classList.toggle('collapsed');
    });


    toggleBtn.addEventListener('click', function(e) {
        if (!sidebar.contains(e.target) && e.target !== toggleBtn) {
            sidebar.classList.add('collapsed');
        }
    });
</script>
{% endblock %}