<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid ">
        <a class="navbar-brand text-white" href="/">
            <img src="{{asset('images/ARCADIA.png')}}" class="w-15" alt="log-parc-animalier-arcadia">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/">Accueil</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        habitats
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {% for habitat in habitats %}
                            <li><a class="dropdown-item text-white" href="{{path('app_habitat_show', {'id': habitat.id})}}">{{ habitat.name }} </a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Enclos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {% for enclosure in enclosures %}
                            <li><a class="dropdown-item text-white" href="{{path('app_enclosure_show', {'id': enclosure.id})}}">{{ enclosure.name }} </a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{path('app_service_show')}}" role="button" aria-expanded="false">
                        Services
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{path('app_gallery')}}" role="button" aria-expanded="false">
                        Gallerie
                    </a>
                </li>
                    {% set all_roles = ['ROLE_ADMIN', 'ROLE_VETERINARY', 'ROLE_WORKER'] %}
                    {% set should_hide = false %}

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% for role in all_roles %}
                            {% if is_granted(role) %}
                                {% set should_hide = true %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if not should_hide %}
                        <li class="nav-item" data-show="visitor">
                            <a class="nav-link text-white" href="/contact">Nous contacter</a>
                        </li>
                    {% endif %}

                    {% if should_hide %}
                        <li class="nav-item" data-show="admin">
                            <a class="nav-link text-white" href="{{path('app_admin_dashboard')}}">Administration</a>
                        </li>
                    {% endif %}

                {% if app.user %}
                    <li class="nav-item" data-show="connected">
                        <a class="nav-link text-white" href="/logout">Déconnexion</a>
                    </li>
                    {% else %}
                    <li class="nav-item" data-show="disconnected">
                        <a class="nav-link text-white" href="/login">Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>  
</nav>   