
<nav class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item d-flex justify-content-end">
            <button id="toggle-btn" class="nav-link toggle-btn text-end">
                <span class="icon">
                {% include "_include/_components/_icons/_collapse_icon_svg.html.twig" %}
                </span>
            </button>
        </li>
        
        <li class="nav-item">
            <a class="nav-link active" href="{{path('app_admin_notice_index')}}">
                <span class="icon">{% include "_include/_components/_icons/_home_icon_svg.html.twig" %}</span>
                <span class="text">Accueil</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{path('app_admin_user_index')}}">
                <span class="icon"> {% include "_include/_components/_icons/_user_icon_svg.html.twig" %}</span>
                <span class="text">Utilisateur</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{path('app_admin_habitat_index')}}">
                <span class="icon">{% include "_include/_components/_icons/_habitat_icon_svg.html.twig" %}</span>
                <span class="text">Habitats</span>
            </a>
        </li>
        {% if habitats is defined and habitats|length > 0 %}
        <li class="nav-item">
            <a class="nav-link active" href="{{path('app_admin_animal_index')}}">
                <span class="icon"> {% include "_include/_components/_icons/_animal_icon_svg.html.twig" %}</span>
                <span class="text">Animaux</span>
            </a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link active position-relative" href="{{path('app_admin_notice_index')}}">
                <span class="icon">{% include "_include/_components/_icons/_notice_icon_svg.html.twig" %}</span>
                <span class="text">Avis</span>
                <span id="notice-number" class="badge rounded-pill bg-danger ms-auto {% if pending_notices_count == 0 %}d-none{% endif %}">
                    {{ pending_notices_count }}
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{path('app_admin_service_index')}}">
                <span class="icon"> {% include "_include/_components/_icons/_service_icon_svg.html.twig" %}</span>
                <span class="text">Services</span>
            </a>
        </li>
    </ul>
    <div class="sidebar-logo">
        <img src="{{asset('images/ARCADIA.png')}}" class="w-40 mb-4" style="width: 240px;" alt="log-parc-animalier-arcadia">
    </div>
</nav>

{% block javascripts %}
<script>
    const toggleBtn = document.getElementById('toggle-btn');
    const sidebar = document.querySelector('.sidebar');
    const noticeNumber = document.getElementById('notice-number');

     function toggleSidebar() {
        sidebar.classList.toggle('collapsed');
        if (sidebar.classList.contains('collapsed')) {
            noticeNumber.classList.add('notice-number-collapsed');
        } else {
            noticeNumber.classList.remove('notice-number-collapsed');
        }
    }

    toggleBtn.addEventListener('click', function(e) {
        e.preventDefault();
        toggleSidebar();
    });

</script>
{% endblock %}