{% extends 'base_front.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<article class="bg-info py-5">
    <h2 class="text-dark text-center mb-3">{{enclosure.name}}</h2>
    <div class="container p-4 d-flex my-5">
        <div class="row">
            <div class="col-12 col-md-6 mb-4 mb-md-0 card card-description pt-2">
                <div class="scrollable-text">
                    <p>{{ enclosure.description|replace({'. ': ".\n\n", '! ': "!\n\n", '? ': "?\n\n"})|nl2br|raw }}</p>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-4 mb-md-0 media-container"> 
                {% set allImages = [] %}
                {% for image in enclosure.images %}
                    {% set allImages = allImages|merge(enclosure.images) %}
                {% endfor %}

                <img class="w-100 rounded" src="{{ allImages is not empty ? uploaderHelper.asset(random(allImages), 'enclosureFile') : asset('images/default/default.png') }}" alt="Image {{ allImages is not empty ? 'aléatoire d\'un animal de l\'enclos' : 'par défaut' }}">
            </div>
        </div>
    </div>

{% if enclosure.animals|length > 0 %}   
    {% set hasReports = false %}
    {% for animal in enclosure.animals %}
        {% if animal.veterinaryReports|length > 0 %}
            {% set hasReports = true %}
        {% endif %}
    {% endfor %}

    {% if hasReports %}
        <div class="container dropdown animal-list mb-2">
            <button class="btn btn-gradiant dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Animaux de l'enclos
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {% for animal in enclosure.animals %}
                    {% if animal.veterinaryReports|length > 0 %}
                        <li><a type="button" class="dropdown-item animal-button" data-animal-id="{{ animal.id }}">{{ animal.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endif %}

</article>


{% for animal in enclosure.animals  %}
    <article id="animal-{{ animal.id }}"  class="animal-detail d-none">
        <div class="container p-4 d-flex my-5">
            <div class="row">
                <div class="col-12 col-md-6 mb-4 mb-md-0 card card-description">
                    <h2 class="text-dark mb-3">{{ animal.name }}</h2>
                    <div class="scrollable-text">
                        <p>Etat de santé : {{ animal.health|replace({'. ': ".\n\n", '! ': "!\n\n", '? ': "?\n\n"})|nl2br|raw }} au {{ animal.updatedAt|date('m-d-Y') }} </p>
                        {% for veterinaryreport in animal.veterinaryreports %}
                            {% if animal.veterinaryreports is not empty %}
                                {% set lastReport = animal.veterinaryreports|last %}
                                <p> Dernier rapport vétérinaire : {{ lastReport.createdAt|date('m-d-Y') }}</p>
                                <p>{{ lastReport.detail|replace({'. ': ".\n\n", '! ': "!\n\n", '? ': "?\n\n"})|nl2br|raw }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="col-12 col-md-6 mb-4 mb-md-0 media-container"> 
                    {% set allImages = [] %}
                    {% for image in animal.images %}
                        {% set allImages = allImages|merge(animal.images) %}
                    {% endfor %}

                    <img class="w-100 rounded" src="{{ allImages is not empty ? uploaderHelper.asset(random(allImages), 'animalFile') : asset('images/default/default.png') }}" alt="Image {{ allImages is not empty ? 'aléatoire d\'un animal de l\'enclos' : 'par défaut' }}">
                </div>
            </div>
        </div>
    </article>
{% endfor %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/image/media-resize.js') }}"></script>
<script>
    adjustCardSize();
    adjustElementSizes()
</script>
{% endblock %}