{% extends 'base_front.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<article class="bg-info p-4">
    <div class="container p-4 d-flex animal-enclosure">
        <div class="row ">
            <div class="col-12 col-md-6 mb-4 mb-md-0 card card-description">
                <h2 class="text-dark mb-3">{{enclosure.name}}</h2>
                <div class="scrollable-text">
                    <p>{{ enclosure.description|replace({'. ': ".\n\n", '! ': "!\n\n", '? ': "?\n\n"})|nl2br|raw }}</p>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-4 mb-md-0"> 
                {% set allImages = [] %}
                {% for image in enclosure.images %}
                    {% set allImages = allImages|merge(enclosure.images) %}
                {% endfor %}

                <img class="w-100 rounded" src="{{ allImages is not empty ? uploaderHelper.asset(random(allImages), 'enclosureFile') : asset('images/default/default.png') }}" alt="Image {{ allImages is not empty ? 'aléatoire d\'un animal de l\'enclos' : 'par défaut' }}">
            </div>
        </div>
    </div>

    <div class="container dropdown animal-list mb-2">
        <button class="btn btn-gradiant dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Animaux de l'enclos
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for animal in enclosure.animals %}
                {% for veterinaryReport in animal.veterinaryReports %}
                <li><a type="button" class="dropdown-item animal-button" data-animal-id="{{ animal.id }}">{{ animal.name }}</a></li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
</article>

<div class="animal-details">
    {% for animal in enclosure.animals  %}
    <article id="animal-{{ animal.id }}"  class="p-4 animal-detail d-none">
        <div class="container p-4 d-flex">
            <div class="row ">
                <div class="col-12 col-md-6 mb-4 mb-md-0 card card-description">
                    <h2 class="text-dark mb-3">{{ animal.name }}</h2>
                    <div class="scrollable-text">
                        <p>Etat de santé : {{ animal.health|replace({'. ': ".\n\n", '! ': "!\n\n", '? ': "?\n\n"})|nl2br|raw }} au {{ animal.updatedAt|date('m-d-Y') }} </p>
                        <p>{{ animal.description|replace({'. ': ".\n\n", '! ': "!\n\n", '? ': "?\n\n"})|nl2br|raw }}</p>
                        {% for veterinaryreport in animal.veterinaryreports %}
                            {% if animal.veterinaryreports is not empty %}
                                {% set lastReport = animal.veterinaryreports|last %}
                                <p> Dernier rapport vétérinaire : {{ lastReport.createdAt|date('m-d-Y') }}</p>
                                <p>{{ lastReport.detail|replace({'. ': ".\n\n", '! ': "!\n\n", '? ': "?\n\n"})|nl2br|raw }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="col-12 col-md-6 mb-4 mb-md-0"> 
                    {% set allImages = [] %}
                    {% for image in animal.images %}
                        {% set allImages = allImages|merge(animal.images) %}
                    {% endfor %}

                    <img class="w-100 rounded" src="{{ allImages is not empty ? uploaderHelper.asset(random(allImages), 'animalFile') : asset('images/default/default.png') }}" alt="Image {{ allImages is not empty ? 'aléatoire d\'un animal de l\'enclos' : 'par défaut' }}">
                </div>
            </div>
        </div>
    </article>
</div> 
{% endfor %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const buttons = document.querySelectorAll('.animal-button');
    const details = document.querySelectorAll('.animal-detail');

    buttons.forEach(button => {
        button.addEventListener('click', function() {
            const animalId = this.getAttribute('data-animal-id');

            details.forEach(detail => {
                if (detail.id === `animal-${animalId}`) {
                    detail.classList.remove('d-none');
                } else {
                    detail.classList.add('d-none');
                }
            });

            fetch(`/animal/${animalId}`, { method: 'POST' });
        });
    });

});
</script>
{% endblock %}