{% extends 'base.html.twig' %}
{% block body %}
<div class='row mt-5 mb-5'>
    <div class='col-sm-12'> 
        <div class= "col-sm-12 d-flex justify-content-between mb-5">
            <h1>Liste des Breeds</h1>
            <a type="button" class='btn btn-primary pb-0 mb-3' href="{{ path('app_admin_breed_new') }}" title="Ajouter un breed">Ajouter un breed</a>
        </div>
        <table class="table custom-table">
            <thead>
                <tr>
                    <th class="text-start">race</th>
                    <th class="text-center">animals</th>
                    <th class="text-end">actions</th>
                </tr>
            </thead>
            <tbody>
            {% for breed in breeds %}
                <tr>
                    <td class="text-start">{{ breed.name }}</td>
                    <td class="text-center">{{ breed.animals }}</td>
                    <td class="text-end">
                        <a type='button' class='text-secondary me-2' href="{{ path('app_admin_breed_edit', {'id': breed.id}) }}" title="éditer">
                            {% include "_include/components/icons/edit_icon_svg.html.twig" %}
                        </a>
                        <a type='button' class="text-danger me-3 mb-2"  data-token="{{ csrf_tokens[breed.id] }}" data-bs-toggle="modal" data-bs-target="#deleteModal" title="Supprimer">
                             {% include "_include/_components/_icons/_delete_icon_svg.html.twig" %}
                        </a>
                    </td>
                </tr>

                {% if delete_btn is defined %}
                    {% include '/admin/breed/_delete_modal.html.twig' with {'path_form' : path('app_admin_breed_delete', {'id': breed.id}), 'csrf_tokens': csrf_tokens[breed.id], 'breed': breed } %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div> 
</div>
{% endblock %}
