{% extends 'base.html.twig' %}

{% block title %}DashBoard{% endblock %}

{% block body %}
<div class='row mt-5 mb-3'>

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endfor %}

    <div class='col-sm-12 p-3 custom-border card'> 
        {% if topAnimal %}
            <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                    <h2 class="mb-0">En vedette : <span class="fw-bold">{{ topAnimal.name }}</span></h2>
                    <p class="mb-0 mt-2">Nombre de vues : <span class="fw-bold">{{ nbviews }}</span></p>
                </div>
                <div class="ms-3">
                    <img src="{{ topAnimal.images|first ? uploaderHelper.asset(topAnimal.images|first, 'animalFile') : asset('images/default/default.png') }}" 
                        alt="Image de {{ topAnimal.name }}" 
                        width="150" 
                        height="110"
                        style="object-fit: cover;">
                </div>
            </div>
        {% else %}
            <p>Aucun animal n'a encore été vu.</p>
        {% endif %}
    </div> 
</div>
   
   {% include 'admin/notice/_index_include.html.twig' %}
{% endblock %}
