{% extends 'base_login.html.twig' %}

{% block title %}Connexion{% endblock %}


{% block body %}
    <div class="card bg-white bg-opacity-75 shadow" style="border-radius: 15px;">
        <div class="card-body p-4">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté en tant que : {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                {% endif %}
            
                <div class="row">
                    <div class="col-md-5 mb-4 mb-md-0 d-flex align-items-center">
                        <img class="img-fluid" src="{{asset('images/ARCADIA.png')}}" alt="logo-parc-animalier-arcadia">
                    </div>    
                    
                    <div class="col-md-7">
                        <div class="mb-3">
                            <label class="form-label" for="username">Email</label>
                            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Mot de passe</label>
                            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>
                </div>

                <div class="text-center mt-4">
                    <a href="/contact">Vous n'avez pas de compte ? Faite en la demande ici !</a>
                </div>
                
                <div class="d-flex justify-content-end mt-4">
                    <button class="btn btn-lg btn-primary" type="submit">
                        Connexion
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
