{% extends 'base.html.twig' %}
{% block body %}
<div class='row mt-5 mb-5'>
    <div class='col-sm-12'> 
        <div class= "col-sm-12 d-flex justify-content-between mb-5">
            <h1>Services</h1>
            <a type="button" class='btn btn-primary pb-0 mb-3' href="{{ path('app_admin_service_new') }}" title="Ajouter un service">Ajouter un service</a>
        </div>
        <table class="table custom-table">
            <thead>
                <tr>
                    <th class="text-start">name</th>
                    <th class="text-center">description</th>
                    <th class="text-end">actions</th>
                </tr>
            </thead>
            <tbody>
            {% for service in services %}
                <tr>
                <td class="text-start">{{ service.name }}</td>
                <td class="text-center">{{ service.description }}</td>
                    <td class="text-end">
                        <a type='button' class='text-primary me-2' href="{{ path('app_admin_service_show', {'id': service.id}) }}" title="voir">
                            {% include "_include/components/icons/show_icon_svg.html.twig" %}
                        </a>
                        <a type='button' class='text-secondary me-2' href="{{ path('app_admin_service_edit', {'id': service.id}) }}" title="éditer">
                            {% include "_include/components/icons/edit_icon_svg.html.twig" %}
                        </a>
                        <a type='button' class="text-danger me-3 mb-2"  data-token="{{ csrf_tokens[service.id] }}" data-bs-toggle="modal" data-bs-target="#deleteModal" title="Supprimer">
                             {% include "_include/_components/_icons/_delete_icon_svg.html.twig" %}
                        </a>
                    </td>
                </tr>

                {% if delete_btn is defined %}
                    {% include '/admin/service/_delete_modal.html.twig' with {'path_form' : path('app_admin_service_delete', {'id': service.id}), 'csrf_tokens': csrf_tokens[service.id], 'service': service } %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div> 
</div>
{% endblock %}
