{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
  
 <div class="container mt-5 custom-card">
        <div class="row m-4 ">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body text-start mb-2">
                        <a class="text-secondary" title="Editer" href="{{ path('app_admin_service_edit', {'id': service.id}) }}">
                            {% include "_include/components/icons/edit_icon_svg.html.twig" %}
                        </a>
                        <a type='button' class="text-danger me-3 mb-2"  data-bs-toggle="modal" data-bs-target="#deleteModal" title="Supprimer">
                             {% include "_include/components/icons/delete_icon_svg.html.twig" %}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                                    <div class="row mb-2">
                <div class="col-4 font-weight-bold">name</div>
                <div class="col-8">{{ service.name }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-4 font-weight-bold">description</div>
                <div class="col-8">{{ service.description }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-4 font-weight-bold">createdAt</div>
                <div class="col-8">{{ service.createdAt }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-4 font-weight-bold">updatedAt</div>
                <div class="col-8">{{ service.updatedAt }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-4 font-weight-bold">deletedAt</div>
                <div class="col-8">{{ service.deletedAt }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-4 font-weight-bold">deleted</div>
                <div class="col-8">{{ service.deleted }}</div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if delete_btn is defined %}
        {% include '/admin/service/_delete_modal.html.twig' with {'path_form' : path('app_admin_service_delete', {'id': service.id}), 'csrf_token': csrfToken, 'service': service } %}
    {% endif %}

{% endblock %}
