{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ type }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

{{ form_start(form) }}

{{ form_row(form.email) }}
{{ form_row(form.message) }}

<div class="mt-4 d-flex justify-content-between">
    <a type='button' class="btn btn-gradiant me-3 mb-2" title="revenir à la liste" href="{{ path('app_home') }}">Revenir à l'accueil</a>
    <button class="btn btn-secondary"  href="{{ path('app_admin_service_index') }}" title="Envoyer">Envoyer</button>
</div>
        
{{ form_end(form) }}