
{{ form_start(form) }}
    <div id="habitat-data" data-habitat-id="{{ habitat.id|default('') }}" data-remove-image-url="{{ path('app_admin_habitat_remove_image', { 'habitat': 'HABITAT_ID' }) }}">
        <button id="add-image-btn" type="button" class="btn btn-secondary mb-4 me-3">Ajouter une image</button>
        <div id="image-fields-list" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}"></div>
        <div class="d-flex text-danger mt-3 d-none" id="image-error-bloc">
            {% include '_include/_components/_icons/_help_icon_svg.html.twig' %}
            <div id="image-error-message" class="text-danger ms-2"></div>
        </div>
    </div>
    
    {{ form_row(form.name) }}
    {{ form_row(form.shortdescription) }}
    {{ form_row(form.description) }}
    
    <div class="d-flex flex-wrap align-items-center mt-4">
    <a href="{{ path('app_admin_enclosure_new',{'id':habitat.id}) }}" id="add-enclosure" type="button" class="btn btn-secondary me-3 mb-2">Ajouter un enclos</a>

    <div class="dropdown flex-grow-1">
        <button class="btn btn-secondary dropdown-toggle mb-2" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            Liste des enclos
        </button>
        <ul class="dropdown-menu light-dropdown" aria-labelledby="dropdownMenuButton2">
            {% if habitat.enclosures|length > 0 %}
                {% for enclosure in habitat.enclosures %}
                    <li class="dropdown-item p-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="me-2">{{ enclosure.name }}</span>
                            <div>
                                <a type="button" class="text-secondary me-1" href="{{ path('app_admin_enclosure_edit', {'enclosure': enclosure.id}) }}" title="éditer">
                                    <span class="d-inline-block">
                                        {% include "_include/_components/_icons/_edit_icon_svg.html.twig" %}
                                    </span>
                                </a>
                                <a type="button" class="text-primary" href="{{ path('app_admin_enclosure_show', {'enclosure': enclosure.id}) }}" title="voir">
                                    <span class="d-inline-block">
                                        {% include "_include/_components/_icons/_show_icon_svg.html.twig" %}
                                    </span>
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <li><span class="dropdown-item">Aucun enclos disponible</span></li>
            {% endif %}
        </ul>
    </div>
</div>
    
<div class="mt-4 d-flex justify-content-between">
    <a type='button' class="btn btn-gradiant me-3 mb-2" title="revenir à la liste" href="{{ path('app_admin_habitat_index') }}">Revenir à la liste</a>

    {% if mode == 'Ajouter' %} 
        <button class="btn btn-primary" title="Valider">Valider</button>
    {% elseif mode == "Modifier" %}
        <button class="btn btn-primary" title="Valider">Valider</button>
    {% else %}
        <div class= "d-flex">
            <button class="btn btn-secondary" href="{{ path('app_admin_habitat_index') }}" title="valider">Valider</button>
            <button type='button' class="btn btn-danger me-3 mb-2"  data-bs-toggle="modal" data-bs-target="#deleteModal" title="supprimer">
                supprimer
            </button>
        </div>
    {% endif %}  
</div>

<template id="image-field-template" style="display: none;">
     {% include '_include/_components/_forms/_image-multi-upload-input.html.twig' %}
</template>

{{ form_end(form) }}

<div class="col-12 pt-2">
    {% if delete_btn is defined %}
        {% include '/admin/habitat/_delete_modal.html.twig' with {'path_form' : path('app_admin_habitat_delete', {'id': habitat.id}), 'csrf_token': csrf_token, 'habitat': habitat } %}
    {% endif %}
</div>
