{% extends 'base_front.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
 <h2 class=" bg-info text-center text-dark m-0 pt-4">Les différents services que nous proposons.</h2>

    {% if services|length > 0 %}
        {% for service in services %}    
        <article class="{{ loop.index is odd ? 'bg-info' : '' }} py-4">
            <div class="container p-4 my-5">
                <div class="row">
                    {% set imageClass = loop.index is even ? 'order-md-1 ps-0' : 'pe-0' %}
                    {% set textClass = loop.index is even ? 'order-md-2' : '' %}
                    <div class="col-12 col-md-6 mb-4 mb-md-0 card card-description {{ textClass }} ">
                        <h2 class="text-start text-dark">{{service.name}}</h2>
                        <div class="text-start pt-4 scrollable-text">
                            <p>{{ service.description|replace({'. ': ".\n\n", '! ': "!\n\n", '? ': "?\n\n"})|nl2br|raw }}</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-4 mb-md-0 media-container {{ imageClass }}"> 
                        {% set allImages = [] %}
                        {% for images in service.images %}
                            {% set allImages = allImages|merge(service.images) %}
                        {% endfor %}
                        <img class="w-100 rounded" src="{{ allImages is not empty ? uploaderHelper.asset(random(allImages), 'serviceFile') : asset('images/default/default.png') }}" alt="Image {{ allImages is not empty ? 'aléatoire d\'un animal de l\'enclos' : 'par défaut' }}">
                    </div>
                </div>
            </div>
        </article>
    {% endfor %}

{% else %}
    <p>Aucun service à afficher sur cette page.</p>
{% endif %}

{# Pagination #}
{% if totalPages > 1 %}
    <nav class="bg-info" aria-label="Page navigation">
        <ul class="pagination justify-content-center mb-0 pb-3">
            <li class="page-item {{ currentPage == 1 ? 'disabled' : '' }}">
                    <a class="page-link" href="{{ path('app_service_show', {'page': currentPage - 1}) }}" {{ currentPage == 1 ? 'tabindex="-1" aria-disabled="true"' : '' }}>Précédent</a>
                </li>
            {% for i in 1..totalPages %}
                <li class="page-item {{ currentPage == i ? 'active' : '' }}">
                    <a class="page-link" href="{{ path('app_service_show', {'page': i}) }}">{{ i }}</a>
                </li>
            {% endfor %}

            <li class="page-item {{ currentPage == totalPages ? 'disabled' : '' }}">
                <a class="page-link" href="{{ path('app_service_show', {'page': currentPage + 1}) }}" {{ currentPage == totalPages ? 'tabindex="-1" aria-disabled="true"' : '' }}>Suivant</a>
            </li>
        </ul>
    </nav>
{% endif %}

{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/image/media-resize.js') }}"></script>
<script>
    adjustCardSize();
</script>    
{% endblock %}