
{% set uploaderHelper = animal.images|first ? uploaderHelper.asset(animal.images|first, 'animalFile') : asset('images/default/default-750x500.png') %}
{% set style = "width: 187px; height: 125px;" %}

{{ form_start(form) }}
<div>
    <div class="row">
        {# <div class="col-3">
             {% include '_include/_components/_forms/_image-upload-input.html.twig' with {
                input: form.image,
                inputFile: form.image.animalFile,
                removeFile: form.image.animalFile,
                label: form.image,
                editButtonId: 'edit-image-button',
                removeButtonId: 'remove-image-button',
                uploaderHelper : uploaderHelper,
                baliseImg : 'balise-img', 
                style : style
            } %} 
        </div>  
        <div class="col-9">
            <div class="d-flex flex-wrap align-items-center" id="image-fields-list"></div>
        </div> #}
        <div class="row" id="image-fields-list" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
            {% for key, image in form.images %}
                <img src="{{ uploaderHelper }}">
            {% endfor %}
        </div>
    </div>
    
    <button id="add-image-btn" type="button" class="btn btn-secondary mt-4 mb-3 me-3">Ajouter une image</button>
</div>



    <button id="addBreedBtn" type="button" class="btn btn-secondary mt-4 mb-3 me-3" onclick="addBreed()">Ajouter une nouvelle race</button>
    <div id="addBreedField" style="display: none;">
        {{ form_row(form.addbreed) }}
    </div>

    {% if countBreeds != true %}
        <button id="selectBreedBtn" type="button" class="btn btn-secondary mt-4 mb-3" onclick="selectBreed()">Sélectionner une race éxistante</button>
        <div id="selectBreedFields" style="display: none;">
            {{ form_row(form.breed) }}
        </div>
    {% endif %}

    {{ form_row(form.habitat) }}
    {{ form_row(form.name) }}
    {{ form_row(form.health) }}

    {{ form_row(form.veterinaryReports) }}
   
    <div class="mt-4 d-flex justify-content-between">
    <a type='button' class="btn btn-gradiant me-3 mb-2" title="revenir à la liste" href="{{ path('app_admin_habitat_index') }}">Revenir à la liste</a>

    {% if mode == 'Ajouter' %} 
        <button class="btn btn-primary" title="Valider">Valider</button>
    {% elseif mode == "Modifier" %}
        <button class="btn btn-primary" title="Valider">Valider</button>
    {% else %}
        <div class = "d-flex">
            <button class="btn btn-secondary" href="{{ path('app_admin_animal_index') }}" title="valider">Valider</button>
            <button type='button' class="btn btn-danger me-3 mb-2"  data-bs-toggle="modal" data-bs-target="#deleteModal" title="supprimer">
                supprimer
            </button>
        </div>
    {% endif %}  
</div>

{{ form_end(form) }}

<div class="col-12 pt-2">
    {% if delete_btn is defined %}
        {% include '/admin/animal/_delete_modal.html.twig' with {'path_form' : path('app_admin_animal_delete', {'id': animal.id}), 'csrf_token': csrf_token, 'animal': animal } %}
    {% endif %}
</div>

<script>

document.addEventListener('DOMContentLoaded', function() {
    const addImageBtn = document.getElementById('add-image-btn');
    const imageFieldsList = document.getElementById('image-fields-list');
    let index = imageFieldsList.children.length;

    const defaultImageField = createImageField(index);
    imageFieldsList.appendChild(defaultImageField);
    index++;

    addImageBtn.addEventListener('click', function() {
        const newImageField = createImageField(index);
        imageFieldsList.appendChild(newImageField);
        index++; 
    });

    //const existingImages = {{ existingImages|json_encode }}
    //console.log(existingImages)
    //if(typeof existingImages !== null && existingImages.length > 0) {
      //  existingImages.forEach(function(image, idx) {
       //     const imageField = createImageField(index, image.path);
        //    imageFieldsList.appendChild(imageField);
          //  index++;
       // });
    //}

    function createImageField(index) {
        const div = document.createElement('div');
        div.classList.add('col');

        const editButtonId = 'edit-image-button-' + index;
        const removeButtonId = 'remove-image-button-' + index;
        const baliseImg = 'balise-Img' + index;
        const pathDefaut = "{{asset('images/default/default-750x500.png')}}"

        div.innerHTML = `
            <div class="col-lg-8">
                <div class="row mt-4 position-relative">
                    <div class="image-card text-white">
                        <img src="${pathDefaut}" class="rounded defaut-img" style="width: 187px; height: 125px;" alt="" id="${baliseImg}"/>
                        <p class="titre-image"></p>
                    </div>
                    <div class="position-absolute top-0 start-1 mt-3 me-3">
                        <label class="btn btn-outline-light" id="${editButtonId}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                            </svg>
                            <input type="file" name="animal[images][${index}][animalFile]" class="custom-file-input">
                        </label>
                        <button type="button" class="btn btn-outline-light" id="${removeButtonId}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        `;

        return div;
    }
});
</script>