{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mt-5 mb-5 justify-content-center">
        <div class="col-lg-8">
            <div class="d-flex justify-content-center">
                <div style="width: 100%;">
                    {% if mode == 'Ajouter' %}
                    <h1 class=" mb-4">{{mode}}</h1>
                        {{ include('admin/animal/_form.html.twig') }}
                    {% else %}   
                      <div class="d-flex mb-4">
                        <h1 class="me-4">{{mode}}</h1>
                        <a type='button' class="text-danger pt-2"  data-token="{{ csrf_token('delete-animal') }}" data-bs-toggle="modal" data-bs-target="#deleteModal" title="Supprimer">
                            {% include "_include/_components/_icons/delete_icon_svg.html.twig" %}
                        </a>
                        {{ include('admin/animal/_form.html.twig', {'button_label': "form.detail.update"|trans|raw , 'delete_btn': true }) }}
                    </div> 
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if delete_btn is defined %}
        {% include '/admin/animal/_delete_modal.html.twig' with {'path_form' : path('app_admin_animal_delete', {'id': animal.id}), 'csrf_token': csrf_token, 'animal': animal } %}
    {% endif %}

{% endblock %}
