{% extends 'base.html.twig' %}

{% block body %}
<div class='row mt-5 mb-5'>
    <div class='col-sm-12 p-4 custom-border card'> 
        <div class= "col-sm-12 d-flex justify-content-between mb-5">
            <h1>Liste des Animaux</h1>
            <a type="button" class='btn btn-primary pb-0 mb-3' href="{{ path('app_admin_animal_new') }}" title="Ajouter un animal">Ajouter un animal</a>
        </div>
        <table class="table table-responsive">
            <thead>
                <tr>
                <th class="text-start">images</th>
                <th class="text-center">Nom</th>
                <th class="text-center">Etat de santé</th>
                <th class="text-center">Race</th>
                <th class="text-center">Habitat</th>
                <th class="text-center">Enclos</th>
                <th class="text-end">actions</th>
                </tr>
            </thead>
            <tbody>
            {% for animal in animals %}
                {% if animal.deletedAt is null %}
                    <tr>
                        <td class="text-start">
                            <img src="{{ animal.images|first ? uploaderHelper.asset(animal.images|first, 'animalFile') : asset('images/default/default.png') }}" alt="première image de la liste" width="70" height="50">
                        </td>
                        <td class="text-center">{{ animal.name }}</td>
                        <td class="text-center">{{ animal.health }}</td>
                        <td class="text-center">{{ animal.breed }}</td>
                        <td class="text-center">{{ animal.habitat }}</td>
                        <td class="text-center">{{ animal.enclosure }}</td>
                        <td class="text-end">
                            <a type='button' class='text-primary me-2' href="{{ path('app_admin_animal_show', {'id': animal.id}) }}" title="voir">
                                {% include "_include/_components/_icons/_show_icon_svg.html.twig" %}
                            </a>
                            <a type='button' class='text-secondary me-2' href="{{ path('app_admin_animal_edit', {'id': animal.id}) }}" title="éditer">
                                {% include "_include/_components/_icons/_edit_icon_svg.html.twig" %}
                            </a>
                            <a type='button' class="text-danger me-3 mb-2"  data-token="{{ csrf_tokens[animal.id] }}" data-bs-toggle="modal" data-bs-target="#deleteModal{{animal.id}}" title="Supprimer">
                                {% include "_include/_components/_icons/_delete_icon_svg.html.twig" %}
                            </a>
                        </td>
                    </tr>
                    {% if delete_btn is defined %}
                        {% include '/admin/animal/_delete_modal.html.twig' with {'path_form' : path('app_admin_animal_delete', {'id': animal.id}), 'csrf_tokens': csrf_tokens[animal.id], 'animal': animal } %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div> 
</div>
{% endblock %}
