{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}

{% block body %}
{% set sortedReports = animal.veterinaryReports|sort((a, b) => b.createdAt.timestamp <=> a.createdAt.timestamp) %}
{{ form_start(form) }}  
 <div class="container mt-5 custom-border">
        <div class="row m-4 ">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <h2 class="">Habitat :</h2>
            <h2 class="ms-1">{{ animal.habitat }}</h2>
                <div class="card-body d-flex mb-2">
                <div class="ms-auto">
                    <a class="text-secondary me-1" title="Editer" href="{{ path('app_admin_animal_edit', {'id': animal.id}) }}">
                        {% include "_include/_components/_icons/_edit_icon_svg.html.twig" %}
                    </a>
                    <a type='button' class="text-danger mb-2" data-bs-toggle="modal" data-bs-target="#deleteModal{{ animal.id }}" title="Supprimer">
                        {% include "_include/_components/_icons/_delete_icon_svg.html.twig" %}
                    </a>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-start mb-2">
            <div class="d-flex mb-2 me-3">
                <h4 class="">Nom :</h4>
                <h4 class="ms-1">{{ animal.name }}</h4>
            </div>
            <div class="d-flex mb-2">
                <h4 class="">Race :</h4>
                <h4 class="ms-1">{{ animal.breed }}</h4>
            </div>
        </div>
        <div class="col-md-12">
                <div class="card p-4 mb-4">
                <div class="d-flex flex-column mb-2">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h3 class="">Rapports vétérinaire :</h3>
                        <a id="new-rapport" type="button" class='text-primary' title="Nouveau rapport vétérinaire">
                            {% include "_include/_components/_icons/_add_repport_icon_svg.html.twig" %}
                        </a>
                    </div>
                    {% set searchRole = 'ROLE_VETERINARY' %}

                    {{ form_start(form) }}
                    <div class="d-flex mt-1 mb-2">
                        <h5 class="mt-1">Santé :</h5>
                        {% if searchRole in app.user.roles %}
                            <h5 class="ms-1"> {{ form_row(form.health) }}</h5>
                        {% else %}
                            <h5 class="mt-1 ms-1">{{ animal.health }}</h5>
                        {% endif %}
                    </div>
                    <hr>
                    <div id="rapport-create" class="mt-1"></div>
                    <div id="add-rapport" class="mt-1 d-none">
                        <p class="text-muted mb-0" >{{ form_row(form.veterinaryReports) }}</p>
                        <div class = "d-flex justify-content-end">
                            <button class="btn btn-secondary submit-rapport" title="valider">Valider</button>
                        </div>
                    </div>
                    {% for veterinaryReport in sortedReports  %}
                        <hr>
                        <div class="ms-1" >
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="text-muted mb-0">le : {{ veterinaryReport.createdAt|date('d/m/Y')}}</p> 
                                {# <a class="text-secondary" title="Editer" href="{{ path('app_admin_veterinaryreport_edit', {'id': veterinaryReport.id}) }}">  #}
                                 <a class="text-secondary" title="Editer" href=""> 
                                    {% include "_include/_components/_icons/_edit_icon_svg.html.twig" %}
                                </a>
                            </div>
                            
                            <p class="text-dark">{{ veterinaryReport.detail }}</p>
                        </div>
                        <br> 
                        <hr>  
                    {% endfor %}

                </div>
            </div>
        </div>
            <div class="row">
                {% for image in animal.images %}
                    {% if loop.index0 % 3 == 0 %}
                        </div><div class="row">
                    {% endif %}
                    <div class="col-4 mb-3">
                        <img src="{{ image ? uploaderHelper.asset(image, 'animalFile') : asset('images/default/default.png') }}" class="card-img-top" alt="Animal-Image" style="width: 100%; height: auto;">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{{ form_end(form) }}

    {% if delete_btn is defined %}
        {% include '/admin/animal/_delete_modal.html.twig' with {'path_form' : path('app_admin_animal_delete', {'id': animal.id}), 'csrf_token': csrf_token, 'animal': animal } %}
    {% endif %}

{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const newRapport = document.getElementById('new-rapport');
    const rapport = document.getElementById('add-rapport');

    const animalId = {{ animal.id }}
    newRapport.addEventListener('click', function() {
        rapport.classList.remove('d-none')
    })

    document.querySelector('.submit-rapport').addEventListener('click', function(e) {
        e.preventDefault(); 
       
        let formData = {
            health: document.getElementById('veterinary_report_health').value,
            veterinaryReport: document.getElementById('veterinary_report_veterinaryReports').value
        };
       
        const url = "{{ path('app_admin_veterinaryreport_new', {'id': animal.id}) }}"

        fetch(url, {
            method: 'POST', 
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Erreur lors de la requête.');
            }
            return response.json(); 
        })
        .then(data => {
            
            console.log('Réponse reçue du serveur :', data);
            
            if (data.status == 'success') {
                
                let newElement = document.createElement('div');
                newElement.classList.add('ms-1');
                newElement.innerHTML = `
                <div class="d-flex justify-content-between align-items-center">
                    <p class="text-muted mb-0">le : ${data.date}</p>
                </div>
                    <p class="text-dark" > ${data.veterinaryReport} </p>
                `;
                document.getElementById('rapport-create').appendChild(newElement);
                //console.log(newElement)
                //debugger
                document.getElementById('add-rapport').classList.add('d-none');
            } else {
                console.error('Erreur lors de la validation : ', data.message);
            }
        })
        .catch(error => {
           
            console.error('Erreur lors de la validation : ', error);
        
        });
    });
});


</script>

{% endblock %}